<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form_auth_block">
        <div class="form_auth_block_content">
            <p class="form_auth_block_head_text">Login</p>
            <form class="form_auth_style" action="#" method="post">
                <label>Username</label>
                <input type="text" id="username" name="auth_username" placeholder="Username" required >
                <label>Password</label>
                <input type="password" id="password" name="auth_password" placeholder="Password" required >
                <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
            </form>
        </div>
    </div>
</body>
<script>
    document.querySelector('.form_auth_style').addEventListener('submit', function(event) {
        event.preventDefault()
        const usernameEl = document.getElementById('username')
        const username = usernameEl.value;

        const passwordEl = document.getElementById('password')
        const password = passwordEl.value;

        let promise = fetch("http://127.0.0.1:8000/get_jwt?username="+username+"&password="+password)
        console.log(promise)
    });
    

</script>
</html>