<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form_auth_block">
        <div class="form_auth_block_content">
            <p class="form_auth_block_head_text">Regestration</p>
            <form class="form_auth_style" action="http://127.0.0.1:8000/adduser" method="get">
            <label>Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required >
            <label>Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required >
            <label>Repeat password</label>
            <input type="repeat_password" name="auth_repeat_password" placeholder="repeat_password" required >
            <button class="form_auth_button" type="submit" name="form_auth_submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</body>
<script>
    document.querySelector('.form_auth_style').addEventListener('submit', function(event) {
        event.preventDefault()
        const usernameEl = document.getElementById('username')
        const username = usernameEl.value;

        const passwordEl = document.getElementById('password')
        const password = passwordEl.value;

        

        fetch("http://127.0.0.1:5500/adduser?username="+username+"&password="+password, {
            method: 'GET',
            credentials: 'include'  // Включаем отправку куки
        }).then(response => response.json()).then(data => {
            console.log(data); // Вывод в консоль
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    });
    

</script>
</html>