<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form_auth_block">
        <div class="form_auth_block_content">
            <p class="form_auth_block_head_text">Regestration</p>
            <form class="form_auth_style" action="#" method="post">
            <label>Username</label>
            <input type="text" name="auth_username" placeholder="Username" required >
            <label>Password</label>
            <input type="password" name="auth_password" placeholder="Password" required >
            <label>Repeat password</label>
            <input type="repeat_password" name="auth_repeat_password" placeholder="repeat_password" required >
            <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
            </form>
        </div>
    </div>
</body>
</html>